<!--<div class="text-left mb-4">
    <form #articleEditForm="ngForm" (ngSubmit)="send()">
        <div class="d-flex flex-column mb-3 form-group">
            <label>
                Title: 
            </label>
            <input 
                type="text" 
                required 
                class="form-control border border-dark"
                [(ngModel)]="">
            <label>
                Subtitle:
            </label>
            <input 
                type="text" 
                required class="border border-dark form-control" 
                [(ngModel)]="">
        </div>
        <div class="mb-3 d-flex flex-column form-group">
            <label>
                Category:
            </label>
            <input 
                
                type="text" 
                class="border border-dark form-control" 
                [(ngModel)]="">
            <label>
                Abstract: 
            </label>
            <textarea 
                type="text" 
                class="border border-dark form-control" 
                [(ngModel)]=""></textarea>
        </div>
    </form>
</div>
<hr/>
<div class="d-flex flex-row justify-content-center">
    <button type="submit" (click)="send()" class="btn btn-primary btn-sm col-6 m-2 border border-dark">Edit</button>
    <button type="button" (click)="clear()" class="btn btn-secondary btn-sm col-6 m-2 border border-dark">Clear</button>
</div> -->